{{ if eq .osid "linux-ubuntu" -}}

{{ $packages := list
     "huggingface_hub[cli]"
     "tldr"
     "httpie"
     "go-task-bin" -}}

#!/bin/bash

set -eufo pipefail

curl -LsSf https://astral.sh/uv/install.sh | sh

{{ range $packages -}}
uv tool install {{ . }}
{{ end -}}

{{ end -}}
